

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#container, .foo, .col-md-4, .col-md-12, .row {
	position: relative;
}
#section3 {
    width: 140000px;
  border: 1px solid gray;
  height: 200px;
  overflow-y: hidden;
  overflow-x: auto;
  /* Remember that a scrolling container element must have a position set. */
  position: relative;
}












